div.card-header {
    background-color: rgb(239, 197, 6);
}

div.card-footer {
    background-color: rgb(239, 197, 6);
}

button.btn-primary {
    background-color: rgb(95, 73, 0);
}

div.list-group-item {
    padding: .75rem;
    border-color: rgb(236, 194, 7);
    background-color: rgb(247, 247, 5)8)
}
